#ai_model
PyPDF2==3.0.1
google-cloud-storage==3.9.0

langchain==1.2.10
langchain-google-genai==4.2.0
langchain-text-splitters==1.1.0
langchain-chroma==1.1.0
langchain-core==1.2.11

#setup
python-dotenv==1.1.0
pymongo==4.16.0
fastapi==0.115.0
httpx==0.28.1
flask==3.1.1
uvicorn==0.32.1
pydantic==2.9.2
passlib[argon2]==1.7.4
python-jose[cryptography]==3.3.0
argon2-cffi==23.1.0
python-multipart==0.0.5
langdetect==1.0.9

#testing
pytest==8.3.3
pytest-asyncio==0.23.8